/* 共通 css */
:root {
    --main-bg-color: #EFEDED;
    --sub-bg-color: #FFFFFF;
    --font-color: #35383A;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    /* https://ics.media/entry/200317/#各osのフォント指定はどれがいいか */
    font-family: "Noto Serif JP", serif,
        "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    margin: unset;
    background-color: var(--main-bg-color);
}
img {
    width: 100%;
}
h2, h3, p {
    margin: unset;
    padding: unset;
}
/* figma フォントの太さ：
Thin (100), Light(300), Regular (400), Medium (500), Bold (600) */
h2 {
    font-weight: 400;
    font-size: 30px;
    color: var(--font-color);
    display: inline-block;
    border-bottom: 1px solid var(--font-color);
    margin-bottom: 30px;
}
h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.8;
    color: var(--font-color);
    margin-bottom: 35px;
}
p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    color: var(--font-color);
    margin-bottom: 35px;
}
a, a:visited {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: var(--font-color);
    text-decoration: unset;
    border: 1px solid var(--font-color);
    border-radius: 40px;
    padding: 16px 50px;
    display: inline-block;
}
div.container {
    /* max-width: 1000px; */
    margin: 0 auto;
}
div.text_area {
    max-width: 680px;
    padding: 60px 20px;
    margin: 0 auto;
    background-color: var(--sub-bg-color);
}

/* 狭い画面向けの既定の CSS レイアウト値 */


/* 広い画面向けの CSS */
@media (min-width: 1000px) {
div.container {
    position: relative;
}
div.text_area {
    padding: 84px 163px 84px 84px;
    position: absolute;
    top: 100px;
    left: 140px;
}
img {
    width: 420px;
    height: 400px;
    position: absolute;
    top: 240px;
    right: 140px;
}
}
